:root {
  font-size: 16px;
}


html {
    --spaceGrey: #262626;
    --accentGreen: #00823D;
    --ghostWhite: #F9F9F9;
    --lightestGrey: #E3E3E3;
    --mediumGrey: #494949;

  
    --displayText: 'Playfair Display', serif;
    --bodyText: 'Plus Jakarta Sans', sans-serif;
  
    background-color: var(--ghostWhite);
  }


  #filter-options {
    border-bottom: 1px solid var(--spaceGrey);
  }


  main {
    margin: 0 5vw 0 5vw;
  }


  .single-main {
    height: 90vh;
    width: auto;
  }

  .is_category {
    font-family: var(--bodyText);
    text-transform: uppercase;
    color: var(--mediumGrey);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .is_green {
    font-family: var(--bodyText);
    text-transform: uppercase;
    color: var(--accentGreen);
    font-size: 0.8rem;
    font-weight: 700;
  }


 /* _________ STYLING ON MOBILE DEVICE _________ */
.category-heading {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  grid-column: span 13;

}

.category_h1 {
  width: fit-content;
  border-bottom: var(--accentGreen) solid 3px;
}

.p2 {
  font-size: 0.7rem;
}

/* ----- MOST READ - LOOPVIEW ----- */

#most-read-container {
  grid-column: span 4;
  display: grid;
  gap: 20px;
  margin-bottom: 10vh;
}

#most-read-articles {
  width: 71vw;
}

.mostReadTeaserImage {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}

.mostRead_h2 {
  font-family: var(--bodyText);
  color: var(--spaceGrey);
  font-size: 2rem;
  grid-column: span 13;
}


/* ----- LOOPVIEW ----- */
#individual_article_in_loop .teaserimage:hover {
  opacity: 80%;
  cursor: pointer;
}

#loopview_wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 0 20px 0 20px;
}

#articles-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  /* margin: 0 20px 0 20px; */
  /* margin-top: 10vh; */
}

.articleSpan {
  grid-column: span 2;
}

.teaserheading {
  font-family: var(--bodyText);
  font-size: 1rem;
  color: var(--spaceGrey);
  margin-top: 1rem;
}

  
/* ----- SINGLE VIEW ----- */

.article-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto, auto;
  /* border: 0 1px 0 1px solid var(--spaceGrey); */
}

.image-wrapper {
  top: 10vh;
  height: 90vh;
  object-fit: cover;
  border: 0 1px 0 1px solid var(--spaceGrey);
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.text-wrapper {
  padding: 0 20px 0 0;
  border: 0 1px 0 1px solid var(--spaceGrey);
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  
}


.author_and_date {
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article-heading {
  font-family: var(--bodyText);
  font-size: 1.2rem;
}

.teaserimage,
#pack-image {
  object-fit: cover;
  aspect-ratio: 3 / 4;
  width: 100%;
}

.featuredimage {
  object-fit: cover;
  aspect-ratio: 9 / 16;
  width: 100%;
}

.sticky_featuredimage {
  object-fit: cover;
  height: 90vh;
  width: 100%;
}

#filter-options > button {
  background-color: transparent;
  color: var(--spaceGrey);
  font-family: var(--bodyText);
  border: none;
  border-radius: 0;
}

#filter-options > button:active {
  text-decoration: underline 2px;
	text-decoration-color: #00823D;
	text-underline-offset: 10px;
}

.image1, 
.image2 {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.h2-single {
  font-size: 3rem;
}

.h3-single {
  font-size: 1.4rem;
  font-family: var(--bodyText);
  font-weight: 500;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--spaceGrey);
}


/* ----- HOMEPAGE CATEGORY-CARDS ----- */
.container-home-categories {
  display: flex;
  width: 100%;
  gap: 20px;
}

.home_category {
  /* background-image: ".assets/images/mina-drikker-kaffe.jpg"; */
  height: 100%;
  flex: 1;
  transform: 1s;
  transition: all 0.8s ease;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.home_category:hover {
  flex: 3;
  height: 100%;
}


/* ----- SINGLEPAGE PACK SECTION ----- */
#pack-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 10vh;
}

.pack-wrap {
  grid-column: span 2;
}


/* _________ STYLING ON TABLET DEVICE _________ */
@media (min-width: 700px) {

  /* ----- LOOPVIEW ----- */
p {
    max-width: 60ch;
  }

  #loopview_wrapper {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
  }

  #most-read-articles {
    width: 75vw;
  }
  
  #articles-grid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
  }

  .articleSpan {
    grid-column: span 2;
  }

  #pack-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .pack-wrap {
    grid-column: span 4;
  }
  
  
  /* ----- SINGLE VIEW ----- */

/* _________ STYLING ON DESKTOP DEVICE _________ */
@media (min-width: 1024px) {

    /* ----- SINGLE VIEW ----- */


   /* ----- LOOPVIEW ----- */

   #loopview_wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
  }

  #most-read-articles {
    width: 38vw;
  }

  .chosen {
    text-decoration: underline 2px;
    text-decoration-color: #00823D;
    text-underline-offset: 10px;
  }

  #articles-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    /* margin: 0 120px 0 120px; */
  }

  .articleSpan {
    grid-column: span 3;
  }

  .article-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    border-right: 0 1px 0 1px solid var(--spaceGrey);
  }
  
  .image-wrapper {
    top: 10vh;
    height: 90vh;
    /* width: 45vw; */
    object-fit: cover;
    position: sticky;
    position: -webkit-sticky;
    padding: 0 0 0 20px;
    border-left: 1px solid var(--spaceGrey);
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .text-wrapper {
    padding: 0 20px 0 0;
    border-right: 1px solid var(--spaceGrey);
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row: 1 / 2;
    
  }

  #pack-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .pack-wrap {
    grid-column: span 3;
  }

  #most-read-container {
    grid-column: span 13;
    display: grid;
    grid-template-columns: repeat(2,1fr);;
    gap: 20px;
  }

  .mostReadArticleSpan {
    grid-column: span 1;
  }
}
}