:root {
  font-size: 16px;
}


html {
  --spaceGrey: #262626;
  --accentGreen: #00823D;
  --ghostWhite: #F9F9F9;
  --lightestGrey: #E3E3E3;
  --mediumGrey: #494949;
  --hover: #00823D99;

  --displayFont: 'Playfair Display', serif;
  --sansSerif: 'Plus Jakarta Sans', sans-serif;

  background-color: var(--ghostWhite);
}

main {
  margin: 0 20px 0 20px;
}


nav#filter_options_desktop {
  display: none;
}

/*_______ DROPDOWN FILTER-MENU ON MOBILE _______*/
.dropdown_menu {
  display: block;
}


.dropdown_menu_container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: solid 1px;
  padding-top: 2rem;
}

.filter_btn {
  background-color: transparent;
  color: var(--spaceGrey);
  border: none;
  border-radius: 0;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
}

#dropdown_filter_options > button {
  background-color: transparent;
  color: var(--spaceGrey);
  border: none;
  border-radius: 0;
}

.filter_btn:hover,
.filter_btn:active,
#dropdown_filter_options > button:hover,
#dropdown_filter_options > button:active {
  background-color: transparent;
  color: var(--spaceGrey);
	text-decoration: underline 2px;
	text-decoration-color: #00823D;
	text-underline-offset: 10px;
}

.dropdown_content {
  display: none;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}
/*_______ END OF DROPDOWN _______*/

#content-wrap {
  max-width: 100%;
}

p {
  margin: 0 !important;
  max-width: 60ch;
  font-size: var(--font-size-base);
}


h5 {
  font-family: var(--sansSerif);
  font-size: var(--h5);
  color: var(--spaceGrey);
}

.p2 {
  font-size: 0.8rem;
  color: var(--mediumGrey);
}


.single_sticky_section {
  height: 90vh;
  width: auto;
}

.is_category {
  font-family: var(--sansSerif);
  text-transform: uppercase;
  color: var(--mediumGrey);
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

.is_green {
  font-family: var(--sansSerif);
  text-transform: uppercase;
  color: var(--accentGreen);
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}


 /* _________ STYLING ON MOBILE DEVICE _________ */
.category-heading {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  grid-column: span 13;

}

.category_h1 {
  width: fit-content;
  border-bottom: var(--accentGreen) solid 3px;
}

/* ----- LOOPVIEW GENERAL ----- */

#individual_article_in_loop .teaserimage:hover,
#most_read_container .mostread_teaserimage:hover {
  opacity: 80%;
  cursor: pointer;
}

#loopview_wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 0 20px 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.articleSpan {
  grid-column: span 2;
  margin-bottom: 2rem;
}

.teaserheading {
  font-family: var(--sansSerif);
  font-size: 1.2rem;
  color: var(--spaceGrey);
  margin-top: 10px;
  margin-bottom: 0;
}

/* ----- MOST READ SECTION INSIDE LOOPVIEW ----- */
#most_read_wrapper {
  margin-top: 2rem;
  border-top: 1px solid var(--spaceGrey);
  display: grid;
  /* grid-template-columns: repeat(4,1fr); */
}


#most_read_container {
  grid-column: span 12;
  gap: 20px;
  margin-bottom: 4rem;
}

.most_read_heading {
  font-family: var(--sansSerif);
  color: var(--accentGreen);
  font-size: 2rem;
  grid-column: span 13;
  margin: 4rem 0 2rem 0;
}


  
/* ----- SINGLE VIEW ----- */

.article-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto, auto;
  /* border: 0 1px 0 1px solid var(--spaceGrey); */
}

.image-wrapper {
  top: 10vh;
  height: 90vh;
  object-fit: cover;
  border: 0 1px 0 1px solid var(--spaceGrey);
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.text-wrapper {
  padding: 0;
  border: 0 1px 0 1px solid var(--spaceGrey);
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.author_and_date {
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--spaceGrey);
}

.article-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 20px;
}

.article-heading {
  font-family: var(--sansSerif);
  font-size: 1.2rem;
}

.teaserimage,
#pack-image {
  object-fit: cover;
  aspect-ratio: 3 / 4;
  width: 100%;
}

.mostread_teaserimage {
  object-fit: cover;
  aspect-ratio: 3 / 4;
  width: 100%;
}

.featuredimage {
  object-fit: cover;
  aspect-ratio: 9 / 16;
  width: 100%;
}

.sticky_featuredimage {
  object-fit: cover;
  height: 90vh;
  width: 100%;
}

.image1, 
.image2 {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.h1-single {
  font-size: 3rem !important;
}

.h2-single {
  font-size: 1.4rem;
  font-family: var(--sansSerif);
  font-weight: 500;
}


/* ----- HOMEPAGE CATEGORY-CARDS ----- */
.container-home-categories {
  display: flex;
  width: 100%;
  gap: 20px;
}

.home_category {
  /* background-image: ".assets/images/mina-drikker-kaffe.jpg"; */
  height: 100%;
  flex: 1;
  transform: 1s;
  transition: all 0.8s ease;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.home_category:hover {
  flex: 3;
  height: 100%;
}


/* ----- SINGLEPAGE PACK SECTION ----- */
#pack-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 4rem 0 4rem 0;
}

.pack-wrap {
  grid-column: span 2;
}

.packbrand1,
.packbrand2,
.packbrand3,
.packbrand4 {
  font-weight: 700;
  margin-top: 20px;
}


/* _________ MEDIA QUERY: TABLET STYLING _________ */
@media (min-width: 700px) {

  nav#filter_options_desktop {
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 1px solid var(--spaceGrey);
    border-bottom: 1px solid var(--spaceGrey);
    padding: 2rem 0 2rem 0;
    text-transform: capitalize;
  }
  
  #filter_options_desktop > button {
    background-color: transparent;
    color: var(--spaceGrey);
    font-family: var(--sansSerif);
    border: none;
    border-radius: 0;
    padding: 0;
  }
  
  #filter_options_desktop > button:active,
  #filter_options_desktop > button:focus {
    text-decoration: underline 2px;
    text-decoration-color: #00823D;
    text-underline-offset: 10px;
  }

  .dropdown_menu_container {
    display: none;
  }

  main {
    margin: 0 5vw 0 5vw;
  }

  /* ----- SINGLE VIEW ----- */
  .article-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    border-right: 0 1px 0 1px solid var(--spaceGrey);
  }
  
  .image-wrapper {
    top: 10vh;
    height: 90vh;
    /* width: 45vw; */
    object-fit: cover;
    position: sticky;
    position: -webkit-sticky;
    padding: 0 0 0 20px;
    border-left: 1px solid var(--spaceGrey);
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .text-wrapper {
    padding: 0 20px 0 0;
    border-right: 1px solid var(--spaceGrey);
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row: 1 / 2;
  }

  #pack-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .pack-wrap {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  /* ----- LOOPVIEW ----- */
  #loopview_wrapper {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
  }

  .dropdown_menu {
    display: none;
  }
  
/* _________ MEDIA QUERY: DESKTOP STYLING _________ */
@media (min-width: 1024px) {
  

    /* ----- SINGLE VIEW ----- */
    .articleSpan {
      grid-column: span 3;
    }
  
    .article-container {
      display: grid;
      grid-template-columns: repeat(12,1fr);
      gap: 20px;
      border-right: 0 1px 0 1px solid var(--spaceGrey);
    }
    
    .image-wrapper {
      top: 10vh;
      height: 90vh;
      /* width: 45vw; */
      object-fit: cover;
      position: sticky;
      position: -webkit-sticky;
      padding: 0 0 0 20px;
      border-left: 1px solid var(--spaceGrey);
      grid-column-start: 1;
      grid-column-end: 7;
    }
  
    .text-wrapper {
      padding: 0 20px 0 0;
      border-right: 1px solid var(--spaceGrey);
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row: 1 / 2;
      
    }
  
    #pack-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

   /* ----- LOOPVIEW ----- */
   #loopview_wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
  }


  .chosen {
    text-decoration: underline 2px;
    text-decoration-color: #00823D;
    text-underline-offset: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
  }

  .most_read_span {
    grid-column: span 1;
  }
}
}